name: Discord Release Notification

on:
  release:
    types: [published]

jobs:
  notify-discord:
    name: Notify Discord
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Discord Release Notification
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK_URL }}
        run: |
          # Escape body content for JSON using Python
          BODY=$(python3 -c "import sys, json; print(json.dumps(sys.argv[1]))" "${{ github.event.release.body }}")
          # Remove outer quotes added by json.dumps
          BODY=${BODY:1:-1}
          
          curl -H "Content-Type: application/json" \
          -d "{
            \"username\": \"GearSwapper Update\",
            \"avatar_url\": \"https://raw.githubusercontent.com/runelite/runelite/master/runelite-client/src/main/resources/net/runelite/client/plugins/gearswapper/gearswapper.png\",
            \"embeds\": [{
              \"title\": \"${{ github.event.release.name || github.event.release.tag_name }}\",
              \"description\": \"$BODY\",
              \"color\": 5793266,
              \"footer\": {
                \"text\": \"VitaLite Plugins\",
                \"icon_url\": \"https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png\"
              },
              \"timestamp\": \"${{ github.event.release.published_at }}\"
            }]
          }" \
          "$DISCORD_WEBHOOK"
